<header>
  <h1><%= image_tag 'logo.png', :alt => 'Amsterdam 2012 candidate city' %></h1>
  <h2>Vote for Amsterdam as host for the last <%= link_to "EuRuKo", 'http://euruko2011.org', :target => '_blank' %> before the end of the world!</h2>
  <h3>The Mayans Predicted the world would end in 2012. So lets make the last <%= link_to "EuRuKo", 'http://euruko2011.org', :target => '_blank' %> the best one yet, and in Amsterdam!</h3>
</header>

<section id='vote'>
  <aside>
    <%= link_to "+1 <small>with twitter</small>".html_safe, join_the_destruction_path, :class => 'vote' %>
    <ul>
      <li><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://lasteuruko.org/?" data-text="Vote for Amsterdam as the last city to host EuRuKo before the end of the world! #euruko" data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
      <li><iframe src="http://www.facebook.com/plugins/like.php?app_id=206204996084455&amp;href=http%3A%2F%2Flasteuruko.org&amp;send=false&amp;layout=box_count&amp;width=40&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:90px;" allowTransparency="true"></iframe></li>
    </ul>
  </aside>
  <p><strong><%= Voter.count %> people</strong> voted for Amsterdam to host EuRuKo 2012</p>
  <p>
    <% @voters.each do |voter| %>
      <%= image_tag voter.profile_image_url %>
    <% end %>
  </p>
</section>

<section>
  <h1>Why?</h1>
  <p>Amsterdam and Ruby have a lot in common: they're both laidback, straight-forward, no-frills pieces of heaven. Amsterdam is also smack in the middle of Europe, and thus the perfect choice for next year's European Ruby Conference. Since the world's going to end anyway, we might as well make it the best one yet.</p>
</section>

<section id='where'>
  <h1>Where? Amsterdam</h1>
  <p>Where did you say? Amsterdam, isn’t that a cesspool of death and decay?
  Amsterdam is a compact little city, hosting dozens of world-class museums, miles of beautiful canals, well-maintained parks, narrow cobblestone streets with lots of Old World.</p>
  <aside>
    <%= link_to image_tag("as_seen_on_fox_news.png", :alt => "as seen on fox news"), 'http://www.youtube.com/watch?v=BpU0NxPhA78' %>
    <!-- <%= link_to image_tag("as_seen_on_fox_news.png", :alt => "as seen on fox news"), 'http://www.youtube.com/watch?v=x8bc_ZyORbM' %>  -->
    <%= link_to image_tag("as_seen_on_youtube.jpg", :alt => "as seen on youtube"), 'http://www.youtube.com/watch?v=UXT6TJ6vKLo' %>
  </aside>
<iframe width="364" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Amsterdam,+Netherlands&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=39.184175,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Amsterdam,+North+Holland,+Netherlands&amp;ll=52.371617,4.899216&amp;spn=0.048211,0.124626&amp;t=p&amp;z=12&amp;output=embed"></iframe>
<small><a href="http://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Amsterdam,+Netherlands&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=39.184175,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Amsterdam,+North+Holland,+Netherlands&amp;ll=52.371617,4.899216&amp;spn=0.048211,0.124626&amp;t=p&amp;z=12" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</section>

<section>
  <h1>Who?</h1>
  <figure>
    <%= image_tag 'josh.jpg', :alt => 'Josh Kalderimis' %>
    <figcaption>
      <%= link_to "Josh Kalderimis", "http://twitter.com/joshkalderimis" %>
    </figcaption>
  </figure>
  <figure>
    <%= image_tag 'bruno2.jpg', :alt => 'Bruno Antunes' %>
    <figcaption>
      <%= link_to "Bruno Antunes", "http://twitter.com/b_antunes" %>
    </figcaption>
  </figure>
  <figure>
    <%= image_tag 'justin2.jpg', :alt => 'Justin Halsall' %>
    <figcaption>
      <%= link_to "Justin Halsall", "http://twitter.com/juice10" %>
    </figcaption>
  </figure>
</section>
